@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F6F8F9;
    width: 100%;
}

/* intestazione logo */

.backwhite{
    background-color: #ffff;
}

.logotxt, .logopng{
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
}

.logopng img{
    margin-left: 20px;
    width: 60px;
    vertical-align: sub;
}

.logotxt h1{
    font-size: 60px;
}

/* Navigazione Bottoni */

.container{
    width: 50%;
    height: 70px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
}

.botblu, .botbianco{
    border-radius: 5px;
}

.botblu{
    background-color: #47ADF1;
    border: 1px solid #47ADF1;
}

.botbianco{
    border: 1px solid grey;
}

